.head {
    /* background-color: blue; */
    border-bottom: solid 1px #000000;
    text-align: center;
    height: 22px;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

.content {
    /* background-color: blue; */
    height: 950px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.para {
    text-indent: 2em;
    margin: 10px;
}

.footer {
    text-align: center;
    font-size: 20px;
}

.h_chapter {
    text-align: left;
    margin: 20px;
    font-size: 32px;
}

.h_chapter_title {
    padding-top: 60px;
    margin: 20px;
    font-size: 40px;
    color: rgb(22, 105, 152);
}

.h_chapter_content {
    padding-bottom: 50px;
    color: rgb(22, 105, 152);
}

.para_intro {
    line-height: 2em;
    padding-bottom: 30px;
}

.h_section {
    text-align: left;
    margin: 20px;
    font-size: 24px;
    color: rgb(22, 105, 152);
}

.h_subsection {
    text-align: left;
    margin: 20px;
    font-size: 20px;
    color: rgb(22, 105, 152);
}

* {
    font-family: "方正宋三_GBK", 'Times New Roman';
    font-size: 16px;
}